<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- 数据库连接字符 -->
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=opcDB;user=sa;password=ym@123456" />
    <!--Timer定时器周期-->
    <add name="CheckThreadInterval" connectionString="10000" />
    <!--设备取数间隔 毫秒-->
    <!-- 1小时 3600000 目前间隔为十分钟600000 -->
    <add name="FanucInterval_A" connectionString="300000" /><!--IntervalHigh,加工件数，进给倍率-->
    <!-- 5分钟 300000 -->
    <add name="FanucInterval_B" connectionString="60000" /><!--IntervalMedium-->
    <!-- 1分钟 暂为30s   60000-->
    <add name="FanucInterval_C" connectionString="20000" /><!--IntervalLow-->
    <!-- 200毫秒 -->
    <add name="FanucInterval_D" connectionString="200" /><!--IntervalLower-->
    
    
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  
  </startup>

  <appSettings>

    <!--以下参数用于在服务中设定Fanuc指定的功能是否启用，2017-9-26添加，王胜-->
    <!--背部（channel 2）是否启用-->
    <add key="boolChannel2State" value ="False"/>
    <!--设备状态-->
    <add key="boolMachineState" value ="True"/>
    <!--加工件数-->
    <add key="boolProcessCount" value ="True"/>
    <!--刀具补正-->
    <add key="boolToolOffset" value ="False"/>
    <!--宏变量读取-->
    <add key="boolMacroValue" value ="True"/>
    <!--进给倍率-->
    <add key="boolFeedRate" value ="True"/>
    <!--切屑清理-->
    <add key="boolCleanInformation" value ="False"/>
    <!--参数读取-->
    <add key="boolParameterValue" value ="False"/>
    <!--报警信息-->
    <add key="boolAlarmMessage" value ="True"/>
    <!--是否启用信号灯+设备状态双重验证（运行状态判定）-->
    <add key="boolRunStateCheck" value ="False"/>



    <!--以下参数用于在服务中设定Fanuc某些读取功能的起始与终止读取地址，2017-10-17添加，王胜-->
    <!--主部刀补读取起始地址1-->
    <add key="toolOffsetMainStartNum1" value ="2"/>
    <!--主部刀补读取终止地址1-->
    <add key="toolOffsetMainEndNum1" value ="10"/>
    <!--主部刀补读取起始地址2-->
    <add key="toolOffsetMainStartNum2" value ="11"/>
    <!--主部刀补读取终止地址2-->
    <add key="toolOffsetMainEndNum2" value ="20"/>
    <!--主部刀补读取起始地址3-->
    <add key="toolOffsetMainStartNum3" value ="21"/>
    <!--主部刀补读取终止地址3-->
    <add key="toolOffsetMainEndNum3" value ="40"/>
    <!--背部刀补读取起始地址1-->
    <add key="toolOffsetBackStartNum1" value ="30"/>
    <!--背部刀补读取终止地址1-->
    <add key="toolOffsetBackEndNum1" value ="39"/>

    <!--主部宏读取起始地址-->
    <add key="macroReadStartMain" value ="500"/>
    <!--主部宏读取终止地址-->
    <add key="macroReadEndMain" value ="550"/>
    <!--背部宏读取起始地址-->
    <add key="macroReadStartBack" value ="530"/>
    <!--背部宏读取终止地址-->
    <add key="macroReadEndBack" value ="539"/>





    <!--以下参数用于设定NCMonitor进程检查的端口，由客户端远程调用，2017-9-26添加，王胜-->
    <!--端口号-->
    <add key="port_checkNCMonitor" value ="8081"/>

    
    <!--以下参数用于设定kepware对各种状态识别的标签名（value=【kepware标签名】），2017-11-9添加，王胜-->
    <!--判断机器人/机械手是否处于自动运行状态-->
    <add key="Tag_status_run" value ="Y0"/>
    <!--判断机器人/机械手是否处于报警状态-->
    <add key="Tag_status_alarm" value ="status_alarm"/>
    <!--判断机器人/机械手完成了一件零件的加工-->
    <add key="Tag_procressCount" value ="Y1"/>

    <!--以下参数用于设定kepware的查询间隔，2017-11-9添加，王胜-->
    <add key="PLCInterval_A" value="300000" />
    <!--IntervalHigh,加工件数，进给倍率-->
    <!-- 5分钟 300000 -->
    <add key="PLCInterval_B" value="60000" />
    <!--IntervalMedium-->
    <!-- 5秒钟    5000  当前使用的间隔-->
    <add key="PLCInterval_C" value="100" />
    <!--IntervalLow-->
    <!-- 200毫秒 -->
    <add key="PLCInterval_D" value="200" />
    <!--IntervalLower-->


  </appSettings>
  
  
</configuration>